#!/usr/bin/python3
# -*- coding: utf-8 -*-

# Make your settings here and change filename to settings.py

postadmin="cowabunga@local"
postadmin_signature="\n-~-\nGreetings\nKing Robin\nHEART RANKED\nPeace!\nhttps://robinbackman.com/heartranked\nme@robinbackman.com\n"

#mail to webmaster
webmaster = "heart@localcow.boya"

baseurl = "HeartRanked Local Cowboy"

standaloneserver="Y"

