@font-face{
font-family: "Latin-Mono-Regular";
src: url('fonts/lmmono10-regular.otf'),
url('fonts/lmmono10-regular.otf'); /* IE */
}

@font-face{
font-family: "Latin-Mono-Italic";
src: url('fonts/lmmono10-italic.otf'),
url('fonts/lmmono10-italic.otf'); /* IE */
}

@font-face{
font-family: "Roberta";
src: url('fonts/roberta.ttf'),
url('fonts/roberta.ttf'); /* IE */
}

/*use line-height*/
.font{
        line-height: 1px; 
        letter-spacing: 1px;
}

@viewport
{
    width: device-width ;
    zoom: 1.0 ;
} 

body
{
    margin: 20px auto;
    scroll-behavior: smooth;
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color:#000;
    color: #f5f5f5;
    font-family: "Latin-Mono-Regular";
}

p{
    margin:1px 0;
}

h1{
    margin:1px 0;
    font-size: 60px;
    font-family: "Roberta";
    font-style: none;
    line-height: 42px;
    font-margin: 0px;
}

h2{
    margin:1px 0;
    color:#FCD612;
    font-size: 30px;
    font-family: "Latin-Mono-Regular";
    line-height: 30px;
    font-margin: 0px;
}
h3{
    margin:1px 0;
    font-size: 30px;
    font-family: "Latin-Mono-Regular";
    font-style: none;
}
h4{
    margin:1px 0;
    font-size: 20px;
    font-family: "Latin-Mono-Italic";
    font-style: none;
}

a{
    color:#FCD612;
}

#logocontainer
{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#container
{
    margin: 0px auto;
    max-width: 450px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#bag
{
    margin: 0px auto;
    position:fixed;
    color:#fff;
    top:0;
    width:100%;
    background:#555;
}

#insidebag
{
    margin: 10px auto;
    font-size: 14px;
    width:100%;
}

table, tbody, tr, td
{
    width: 100%;
}

input, select
{
    padding: 4px;
    color: #fff;
    background-color: #555;
    font-size: 16px;
    border: 0px;
}

textarea
{
    padding: 4px;
    color: #fff;
    background-color: #555;
    font-size: 16px;
    border: 0px;
    width: 100%;
    height: 20px;
}

button
{
    margin:10px;
    padding: 4px;
    font-size: 18px;
    color: #ff0000;
    background-color: #222;
    width: 90%;
}

.logo
{
    width: 80%;
    height:auto;
}

.logo2
{
    width: 70%;
    height:auto;
}

.product
{
    scroll-margin-top: 10rem;
}

.orders
{
    margin:0 auto;
    background-color:#333;
    font-weight: normal;
    font-style: normal; 
    font-size: 15px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    height: auto;
    width: 90%;
    padding-bottom: 20px;
    border-radius:5px;
}

.imgprod
{
    border-radius:5px;
}
#payid
{
    margin: 0px auto;
    color: #888;
    text-decoration: normal;
    background-color: #111;
    border: 0px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#payreq
{
    margin: 0px auto;
    color: #888;
    background-color: #111;
    border: 0px;
    width: 100%;
    height: 55px;
    font-size: 10px;
    text-align: center;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#copybutton
{
    color: #333;
    text-decoration: bold;
    background-color: #111;
    border: 0px;
    padding: 5px;
    width: auto;
}

#backbutton
{
    color: #333;
    text-decoration: bold;
    background-color: #111;
    border: 0px;
    padding: 5px;
    width: auto; 
}

#description
{
    height:200px;
}

#description2
{
    height:200px;
}
